*,
::before,
::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
}

body {
    margin: 0; /* 1 */
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
}

button,
input,
optgroup,
select,
textarea {
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
}

button,
select {
    text-transform: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.material-icons {
    font-family: "Material Icons";
    font-size: inherit;
}

.top-nav {
    background-color: #2876be;
}

.top-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem 0;
}

.top-nav-list-group {
    display: flex;
}

.top-nav-item {
    margin: 0 0.5rem;
    list-style: none;
}

.top-nav-item:first-of-type {
    /* margin-left: 0; */
}

.top-nav-item-btn {
    color: #fff;
}

.add-task-floating-btn {
    position: absolute;
    bottom: 1.3rem;
    right: 1.3rem;
    z-index: 1;
    display: flex;
    border-radius: 2rem;
    padding: 0.3rem;
    background-color: #2876be;
    box-shadow: 0.1rem 0.1rem 0.5rem #252525;
}

.side-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    /* width: 10rem; */
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #f0f0f0;
    color: #252525;
}

.side-nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 0;
}

.side-nav-item {
    width: 80%;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    list-style: none;
}

.side-nav-item-link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.side-nav-item-icon {
    margin-right: 0.3rem;
}

.side-nav-item:hover,
.side-nav-item.active {
    background-color: #e2e2e2;
}

.side-nav-custom-list {
    margin-top: 1rem;
    padding: 0;
}

.side-nav-custom-list-btn {
    cursor: pointer;
}

.side-nav-custom-list-btn-icon {
    margin-right: 0.3rem;
}

.side-nav-custom-item {
    margin-top: 0.5rem;
    list-style: none;
}

main {
    padding: 2rem;
}

h1 {
    margin: 0 0 1rem 0;
}

.tasks-group-container {
    width: 100%;
}

.task-container {
    width: 100%;
}

.task-checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #e7e7e7;
}

.task-checkbox {
    position: absolute;
    right: 0;
    display: none;
}

.task-checkmark {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid #252525;
}

.task-checkbox:checked ~ .task-checkmark {
    background-color: #7a7a7a;
    border-color: #7a7a7a;
}

.task-title {
    display: block;
}

.task-checkbox:checked ~ .task-title {
    color: #7a7a7a;
    text-decoration: line-through;
}

.task-show-details-btn {
    position: absolute;
    right: 1rem;
}

.task-details-container {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 3rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    box-shadow: 0.2rem 0.2rem 0.5rem #a5a5a5;
}

.task-details-description {
    margin: 0 0 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #fff;
    font-style: oblique;
}

.task-details-edit-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.task-details-edit-btn span {
    font-size: 1rem;
}

.task-details-list {
    margin: 1rem 0;
}

.task-details-item-container {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;
}

.task-details-item-checkmark {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid #252525;
}

.task-details-item-checkbox:checked ~ .task-details-item-checkmark {
    background-color: #7a7a7a;
    border-color: #7a7a7a;
}

.task-details-item-checkbox:checked ~ .task-details-item-text {
    color: #7a7a7a;
    text-decoration: line-through;
}

.task-details-item-checkbox {
    position: absolute;
    display: none;
}

.task-details-due-date-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.task-details-due-text {
    margin: 0.5rem 0;
}

.task-details-priority-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.priority-selector {
    width: 20%;
    height: 1rem;
    border-radius: 0.3rem;
}

.priority-one {
    border: 0.15rem solid #ca2c2c;
}

.priority-one.active {
    background-color: #ca2c2c;
}

.priority-two {
    border: 0.15rem solid #ca802c;
}

.priority-two.active {
    background-color: #ca802c;
    box-shadow: 0 0 0.4rem #a5a5a5;
}

.priority-three {
    border: 0.15rem solid #3f6dc2;
}

.priority-three.active {
    background-color: #3f6dc2;
}

.priority-four {
    border: 0.15rem solid #702cca;
}
.priority-four.active {
    background-color: #702cca;
}
