*,
::before,
::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
}

body {
    margin: 0; /* 1 */
    font-family: quicksand, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
select {
    text-transform: none;
}

.material-icons {
    font-family: "Material Icons";
}
