:root {
    --color-primary: #2876be;
    --color-priority-1: #ca2c2c;
    --color-priority-2: #ca802c;
    --color-priority-3: #3f6dc2;
    --color-priority-4: #702cca;
    --color-grey: #7a7a7a;
    --color-shadow: #a5a5a5;
    --color-element-primary: #e1e1e1;
    --color-element-secondary: #e6e6e6;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
}

body {
    margin: 0; /* 1 */
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
}

button,
input,
optgroup,
select,
textarea {
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
}

button,
select {
    text-transform: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

input {
    border: none;
}

.material-icons {
    font-family: "Material Icons";
    font-size: inherit;
}

.top-nav {
    background-color: var(--color-primary);
}

.top-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem 0;
}

.top-nav-list-group {
    display: flex;
}

.top-nav-item {
    margin: 0 0.5rem;
    list-style: none;
}

.top-nav-item:first-of-type {
    /* margin-left: 0; */
}

.top-nav-item-btn {
    color: #fff;
}

.add-task-floating-btn {
    position: absolute;
    bottom: 1.3rem;
    right: 1.3rem;
    z-index: 1;
    display: flex;
    border-radius: 2rem;
    padding: 0.3rem;
    background-color: var(--color-primary);
    box-shadow: 0.1rem 0.1rem 0.5rem #252525;
}

.side-nav {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: var(--color-element-secondary);
    color: #252525;
    box-shadow: none;
    opacity: 0;
}

.side-nav-active {
    width: 10rem;
    box-shadow: 0px 0px 17px 3px #2525258a;
    opacity: 1;
}

.side-nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 0;
}

.side-nav-item {
    width: 80%;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    list-style: none;
}

.side-nav-item-link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.side-nav-item-icon {
    margin-right: 0.3rem;
}

.side-nav-item:hover,
.side-nav-item-active {
    background-color: var(--color-shadow);
}

.side-nav-custom-list {
    margin-top: 1rem;
    padding: 0;
}

.side-nav-custom-list-btn {
    cursor: pointer;
}

.side-nav-custom-list-btn-icon {
    margin-right: 0.3rem;
}

.side-nav-custom-item {
    margin-top: 0.5rem;
    list-style: none;
}

main {
    padding: 2rem;
}

h1 {
    margin: 0 0 1rem 0;
}

.tasks-group-container {
    width: 100%;
}

.task-container {
    width: 100%;
    margin-bottom: 0.5rem;
}

.task-checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-element-primary);
}

.task-checkbox {
    position: absolute;
    right: 0;
    display: none;
}

.task-checkmark {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 0.13rem solid #252525;
}

.task-checkmark.task-checkmark-priority-1 {
    border: 0.13rem solid var(--color-priority-1);
}

.task-checkmark.task-checkmark-priority-2 {
    border: 0.13rem solid var(--color-priority-2);
}

.task-checkmark.task-checkmark-priority-3 {
    border: 0.13rem solid var(--color-priority-3);
}

.task-checkmark.task-checkmark-priority-4 {
    border: 0.13rem solid var(--color-priority-4);
}

.task-checkbox:checked ~ .task-checkmark {
    background-color: var(--color-grey);
    border-color: var(--color-grey);
}

.task-title {
    display: block;
}

.task-checkbox:checked ~ .task-title {
    color: var(--color-grey);
    text-decoration: line-through;
}

.task-show-details-btn {
    position: absolute;
    right: 1rem;
}

.task-details-container {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-element-secondary);
    box-shadow: 0.2rem 0.2rem 0.5rem var(--color-shadow);
    opacity: 0;
    transition: 0.5s ease-out;
}

.task-details-container-active {
    max-height: fit-content;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    opacity: 1;
}

.task-details-description {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #fff;
    font-style: oblique;
}

.task-add-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.task-details-controllers {
    display: flex;
    justify-content: flex-end;
}

.task-details-edit-btn,
.task-details-delete-btn {
    margin-left: 0.5rem;
}

.task-details-edit-btn span,
.task-add-close-btn span,
.task-details-delete-btn span {
    font-size: 1rem;
}

.task-details-list {
    margin: 1rem 0;
}

.task-details-item-container {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;
}

.task-details-item-checkmark {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid #252525;
}

.task-details-item-checkbox {
    position: absolute;
    display: none;
}

.task-details-item-checkbox:checked ~ .task-details-item-checkmark {
    background-color: var(--color-grey);
    border-color: var(--color-grey);
}

.task-details-item-checkbox:checked ~ .task-details-item-text {
    color: var(--color-grey);
    text-decoration: line-through;
}

.task-details-due-container {
    display: flex;
}

.task-details-due-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.task-add-modal-container,
.task-delete-modal-container {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    /* justify-content: center;
    align-items: center; */
    background-color: #0000005b;
}

.task-add-modal-container-active,
.task-delete-modal-container-active {
    /* display: flex; */
    display: block;
}

.task-add-modal,
.task-delete-modal {
    position: relative;
    z-index: 2;
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-element-primary);
    box-shadow: 0 0 1rem #5c5c5c;
    animation-name: animatetop;
    animation-duration: 0.6s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.task-delete-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 2rem 3rem;
}

.task-delete-answers-container {
    display: flex;
    justify-content: center;
}

.task-delete-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.task-delete-close-btn span {
    font-size: 1rem;
}

.task-delete-answer-btn {
    margin: 1rem 0.5rem 0;
}

.task-add-title {
    font-size: 1rem;
    margin: 0 0 1.5rem;
}

.task-add-description,
.task-add-name,
.task-add-subtask-item-input,
.task-add-due-date {
    width: 100%;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #fff;
    font-style: oblique;
}

.task-add-name-validation-false {
    box-shadow: 0 0 1rem var(--color-priority-1);
}

.task-add-name-validation-false::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-priority-1);
    opacity: 1; /* Firefox */
}

.task-add-subtasks-container {
    position: relative;
    margin-bottom: 1rem;
}

.task-add-subtask-item-container {
    position: relative;
    margin-bottom: 0.5rem;
}

.task-add-subtask-item-input {
    margin-bottom: 0.1rem;
}

.task-add-subtask-add-another {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0.1rem;
    border-radius: 2rem;
    color: #fff;
    background-color: #6e94b8;
    box-shadow: 0.1rem 0.1rem 0.5rem #000;
    font-size: 0.5rem;
}

.task-add-subtask-add-another span {
    font-size: 1rem;
}

.task-add-due-date-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.task-add-due-date {
    margin-bottom: 0.3rem;
}

/* 
.task-add-due-text {
    margin: 0.5rem 0;
} */

.task-add-priority-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.task-add-priority-item-container {
    position: relative;
    width: 20%;
}

.task-add-priority-item-checkbox {
    position: absolute;
    display: none;
}

.priority-selector {
    height: 1rem;
    border-radius: 0.3rem;
    display: block;
}

.priority-1 {
    border: 0.15rem solid var(--color-priority-1);
}

.task-add-priority-item-checkbox:checked ~ .priority-1 {
    background-color: var(--color-priority-1);
}

.priority-2 {
    border: 0.15rem solid var(--color-priority-2);
}

.task-add-priority-item-checkbox:checked ~ .priority-2 {
    background-color: var(--color-priority-2);
}

.priority-3 {
    border: 0.15rem solid var(--color-priority-3);
}

.task-add-priority-item-checkbox:checked ~ .priority-3 {
    background-color: var(--color-priority-3);
}

.priority-4 {
    border: 0.15rem solid var(--color-priority-4);
}

.task-add-priority-item-checkbox:checked ~ .priority-4 {
    background-color: var(--color-priority-4);
}
.task-add-priority-item-checkbox:checked ~ .priority-selector {
    box-shadow: 0 0 0.4rem #000;
}

.task-add-submit-btn,
.task-delete-answer-btn {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    color: #fff;
}
